@page "/Regional"

@using Microsoft.EntityFrameworkCore
@using SalesDashboard.Components.Shared.FigureBox
@using SalesDashboard.Components.Shared.FilterSettings
@using SalesDashboard.Components.Shared.PageBox
@using SalesDashboard.Components.Shared.SelectCountryDialog
@using SalesDashboard.Components.Shared.SelectPeriodDialog
@using SalesDashboard.Components.Shared.SelectProductCategoryDialog
@using SalesDashboard.Components.Shared.SelectProductDialog
@using SalesDashboard.Components.Shared.SelectProductSubcategoryDialog
@using SalesDashboard.Components.StateProviders.BreakpointStateProvider
@using SalesDashboard.Entities
@using SalesDashboard.Extensions
@using SalesDashboard.Pages.Regional.SalesTrendTop3Countries

@implements IDisposable

@inject IDialogService DialogService
@inject IDbContextFactory<AdventureWorksContext> DbFactory
@inject IConfiguration Configuration

<PageTitle>Regional Analysis</PageTitle>

<div class="regional">
    <div class="regional-container mud-elevation-4">
        <div class="header">
            Regional Analysis
        </div>
        <FilterSettingsComponent>
            <FilterSettingsItemComponent Key="Period" Value="@GetSelectedPeriodString()" OnSelect="HandleSelectPeriodClickedAsync" />
            <MudDivider />
            <FilterSettingsItemComponent Key="Country" Value="@GetSelectedCountryString()" OnSelect="HandleSelectCountryClickedAsync" />
            <MudDivider />
            <FilterSettingsItemComponent Key="Product Category" Value="@GetSelectedProductCategoryString()" OnSelect="HandleSelectProductCategoryClickedAsync" />
            <MudDivider />
            <FilterSettingsItemComponent Key="Product Subcategory" Value="@GetSelectedProductSubcategoryString()" OnSelect="HandleSelectProductSubcategoryClickedAsync" />
            <MudDivider />
            <FilterSettingsItemComponent Key="Product" Value="@GetSelectedProductString()" OnSelect="HandleSelectProductClickedAsync" />
            <MudDivider />
            <MudButton Variant="Variant.Outlined" Color="Color.Error" style="align-self: flex-start;" OnClick="RegionalFilterStateProviderComponent.ResetAsync">Reset</MudButton>
        </FilterSettingsComponent>
        <div class="grid">
            <div class="total-sales">
                <PageBoxComponent Title="Total Sales">
                    <FigureBoxComponent Value="@TotalSales.ToMillionsWithTwoDecimals()" IsLoading="IsFiguresLoading" />
                </PageBoxComponent>
            </div>
            <div class="total-cost">
                <PageBoxComponent Title="Total Cost">
                    <FigureBoxComponent Value="@TotalCost.ToMillionsWithTwoDecimals()" IsLoading="IsFiguresLoading" />
                </PageBoxComponent>
            </div>
            <div class="gross-profit">
                <PageBoxComponent Title="Gross Profit">
                    <FigureBoxComponent Value="@GrossProfit.ToMillionsWithTwoDecimals()" IsLoading="IsFiguresLoading" />
                </PageBoxComponent>
            </div>
            <div class="gross-margin">
                <PageBoxComponent Title="Gross Margin">
                    <FigureBoxComponent Value="@GrossMargin.ToPercentageWithTwoDecimals()" IsLoading="IsFiguresLoading" />
                </PageBoxComponent>
            </div>
            <div class="sales-trend-top-3-countries">
                <PageBoxComponent Title="Sales Trend Top 3 Countries">
                    <SalesTrendTop3CountriesComponent />
                </PageBoxComponent>
            </div>
            <div class="internet-vs-reseller">
                <PageBoxComponent Title="Internet vs Reseller Sales">
                    <InternetVsResellerComponent />
                </PageBoxComponent>
            </div>
            <div class="distribution-of-sales">
                <PageBoxComponent Title="Distribution of Sales">
                    Distribution of Sales
                </PageBoxComponent>
            </div>
            <div class="top-3-states">
                <PageBoxComponent Title="Top 3 States (Sales)">
                    Top 3 States
                </PageBoxComponent>
            </div>
            <div class="top-3-cities">
                <PageBoxComponent Title="Top 3 Cities (Sales)">
                    Top 3 Cities
                </PageBoxComponent>
            </div>
            <div class="summary-matrix">
                <PageBoxComponent Title="Summary Matrix">
                    Summary Matrix
                </PageBoxComponent>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public RegionalFilterStateProviderComponent RegionalFilterStateProviderComponent { get; set; } = null!;

    [CascadingParameter]
    public RegionalDataProviderComponent RegionalDataProviderComponent { get; set; } = null!;

    private IDisposable? RegionalFilterChangedSubscription { get; set; }

    private bool IsFiguresLoading { get; set; } = true;

    private decimal TotalSales { get; set; }

    private decimal TotalCost { get; set; }

    private decimal GrossProfit { get; set; }

    private decimal GrossMargin { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            RegionalFilterChangedSubscription = RegionalFilterStateProviderComponent.RegionalFilterChanged
                .Throttle(TimeSpan.FromMilliseconds(25))
                .Subscribe(async _ => await RequeryFiguresAsync());

            await RequeryFiguresAsync();
        }
    }

    private string GetSelectedPeriodString()
    {
        var from = RegionalFilterStateProviderComponent.From.Value;
        var through = RegionalFilterStateProviderComponent.Through.Value;

        return $"{from.Date.ToShortDateString()} - {through.Date.ToShortDateString()}";
    }

    private async Task HandleSelectPeriodClickedAsync()
    {
        var context = DbFactory.CreateDbContext();

        var firstOrderDate = await context.SalesOrderHeaders.MinAsync(soh => soh.OrderDate);
        var lastOrderDate = await context.SalesOrderHeaders.MaxAsync(soh => soh.OrderDate);
        var from = RegionalFilterStateProviderComponent.From.Value;
        var through = RegionalFilterStateProviderComponent.Through.Value;

        DialogParameters<SelectPeriodDialog> parameters = new()
        {
            { selectPeriodDialog => selectPeriodDialog.MinDate, firstOrderDate },
            { selectPeriodDialog => selectPeriodDialog.MaxDate, lastOrderDate },
            { selectPeriodDialog => selectPeriodDialog.From, from },
            { selectPeriodDialog => selectPeriodDialog.Through, through }
        };

        var dialog = await DialogService.ShowAsync<SelectPeriodDialog>("Select Period", parameters);

        var result = await dialog.Result;

        if (result?.Data is SelectPeriodDialogResult selectedPeriod)
        {
            await RegionalFilterStateProviderComponent.SetFromAsync(selectedPeriod.From);
            await RegionalFilterStateProviderComponent.SetThroughAsync(selectedPeriod.Through);
        }
    }

    private string GetSelectedCountryString()
    {
        var countryRegionCodes = RegionalFilterStateProviderComponent.CountryRegionCodes.Value;

        if (countryRegionCodes.Any() is false)
        {
            return "All";
        }

        var selectedCountryNames = DbFactory
            .CreateDbContext()
            .CountryRegions
            .Where(countryRegion => countryRegionCodes.Contains(countryRegion.CountryRegionCode))
            .OrderBy(countryRegion => countryRegion.Name)
            .Select(countryRegion => countryRegion.Name);

        return string.Join(", ", selectedCountryNames);
    }

    private string GetSelectedProductCategoryString()
    {
        var productCategoryNames = RegionalFilterStateProviderComponent.ProductCategoryNames.Value;

        if (productCategoryNames.Any() is false)
        {
            return "All";
        }

        return string.Join(", ", productCategoryNames);
    }

    private string GetSelectedProductSubcategoryString()
    {
        var productSubcategoryNames = RegionalFilterStateProviderComponent.ProductSubcategoryNames.Value;

        if (productSubcategoryNames.Any() is false)
        {
            return "All";
        }

        return string.Join(", ", productSubcategoryNames);
    }

    private string GetSelectedProductString()
    {
        var productNames = RegionalFilterStateProviderComponent.ProductNames.Value;

        if (productNames.Any() is false)
        {
            return "All";
        }

        return string.Join(", ", productNames);
    }

    private async Task HandleSelectCountryClickedAsync()
    {
        DialogParameters<SelectCountryDialog> parameters = new()
        {
            { selectCountryDialog => selectCountryDialog.InitiallySelectedCountryRegionCodes, RegionalFilterStateProviderComponent.CountryRegionCodes.Value?.ToList() }
        };

        var dialog = await DialogService.ShowAsync<SelectCountryDialog>("Select Country", parameters);

        var result = await dialog.Result;

        if (result?.Data is IEnumerable<string> selectedCountryRegionCodes)
        {
            await RegionalFilterStateProviderComponent.SetCountryRegionCodesAsync(selectedCountryRegionCodes);
        }
    }

    private async Task HandleSelectProductCategoryClickedAsync()
    {
        DialogParameters<SelectProductCategoryDialog> parameters = new()
        {
            { selectProductCategoryDialog => selectProductCategoryDialog.InitiallySelectedProductCategoryNames, RegionalFilterStateProviderComponent.ProductCategoryNames.Value?.ToList() }
        };

        var dialog = await DialogService.ShowAsync<SelectProductCategoryDialog>("Select Product Category", parameters);

        var result = await dialog.Result;

        if (result?.Data is IEnumerable<string> selectedProductCategoryNames)
        {
            await RegionalFilterStateProviderComponent.SetProductCategoryNamesAsync(selectedProductCategoryNames);
        }
    }

    private async Task HandleSelectProductSubcategoryClickedAsync()
    {
        DialogParameters<SelectProductSubcategoryDialog> parameters = new()
        {
            { selectProductSubcategoryDialog => selectProductSubcategoryDialog.InitiallySelectedProductSubcategoryNames, RegionalFilterStateProviderComponent.ProductSubcategoryNames.Value?.ToList() }
        };

        var dialog = await DialogService.ShowAsync<SelectProductSubcategoryDialog>("Select Product Subcategory", parameters);

        var result = await dialog.Result;

        if (result?.Data is IEnumerable<string> selectedProductSubcategoryNames)
        {
            await RegionalFilterStateProviderComponent.SetProductSubcategoryNamesAsync(selectedProductSubcategoryNames);
        }
    }

    private async Task HandleSelectProductClickedAsync()
    {
        DialogParameters<SelectProductDialog> parameters = new()
        {
            { selectProductDialog => selectProductDialog.InitiallySelectedProductNames, RegionalFilterStateProviderComponent.ProductNames.Value?.ToList() }
        };

        var dialog = await DialogService.ShowAsync<SelectProductDialog>("Select Product", parameters);

        var result = await dialog.Result;

        if (result?.Data is IEnumerable<string> selectedProductNames)
        {
            await RegionalFilterStateProviderComponent.SetProductNamesAsync(selectedProductNames);
        }
    }

    private async Task RequeryFiguresAsync()
    {
        IsFiguresLoading = true;

        await InvokeAsync(StateHasChanged);

        var getTotalSalesAsyncTask = RegionalDataProviderComponent.GetTotalSalesAsync();
        var getTotalCostAsyncTask = RegionalDataProviderComponent.GetTotalCostAsync();

        var result = await Task.WhenAll([getTotalSalesAsyncTask, getTotalCostAsyncTask]);

        TotalSales = result[0];
        TotalCost = result[1];
        GrossProfit = TotalSales - TotalCost;

        if (TotalSales != 0)
        {
            GrossMargin = GrossProfit / TotalSales;
        }
        else
        {
            GrossMargin = 0;
        }

        IsFiguresLoading = false;

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        RegionalFilterChangedSubscription?.Dispose();
    }
}
